 .bg-client01-body {
     background: #015072ee;
 }

 #client-0101 img {
     width: 100%;
     border-radius: 10px;
     box-shadow: 15px 15px 25px -2px rgba(0, 0, 0, 0.45);
 }

 .bg-client02-body {
     background: #B1D7E2;
 }

 #client-0102 img {
     width: 100%;
     border-radius: 10px;
     box-shadow: 15px 15px 25px -2px rgba(0, 0, 0, 0.45);
 }