/*body{
    background-color:#7EAAC7 ;
}*/

#img_container {
    width: 590px;
    height: 550px;
    overflow: hidden;
}

#photo {

    clip-path: inset(0px 0px 0px 100px);
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#name {
    position: absolute;
    top: 400px;
    left: 270px;
    z-index: 1;
}

@media(min-width:320px) and (max-width:932px) {
    #name {
        position: absolute;
        top: 300px;
        left: 50px;
        z-index: 1;
    }

   #img_container {
        width: 320px;
        height: 350px;
    }

  #photo {
        clip-path: inset(0px 0px 0px 90px);
        width: 100%;
        height:75%;
        object-fit: cover;
    }



}