/*body{
    background-color:#7EAAC7 ;
}*/

/* HEADER */

#logo{
   
    font-family: 'Courier New', Courier, monospace;
}

/* HERO */
#img_container {
    width: 590px;
    height: 550px;
    overflow: hidden;
}

#photo {
    clip-path: inset(0px 0px 0px 100px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#name {
    position: absolute;
    top: 400px;
    left: 270px;
    z-index: 1;
}

.space{
    height: 50px;
}
/* FOOTER */
#linkedin-color {
    color: #0077B5;
}

#instagram-color {
    color: #E1306C;

}

#github-color{
    color: #000000;

}


@media(min-width:320px) and (max-width:932px) {
/* HEADER */
   .responsive-gap {
    gap: 2rem; 
    justify-content: space-between; 
    }
    #name {
        position: absolute;
        top: 300px;
        left: 50px;
        z-index: 1;
    }

    /* HERO */
    #img_container {
        width: 320px;
        height: 350px;
        margin-bottom: 0;
    }

    #photo {
        clip-path: inset(0px 0px 0px 90px);
        width: 100%;
        height: 75%;
        object-fit: cover;
    }

/* BADGES */
  .badge {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      gap: 0.5rem;
    }

    .badge img {
      width: 60px !important;
      height: 60px !important;
    }

    .badge p {
      margin: 0 !important;
      padding: 0.5rem !important;
      text-align: center;
    }
  /* PORTAFOLIO - GALLERY */
   .responsive-row {
      flex-direction: column !important;
    }

    .responsive-row > div {
      width: 100% !important;
      max-width: 100% !important;
      text-align: center !important;
      margin-bottom: 1rem;
    }

    .responsive-row img {
      width: 100% !important;
      height: auto !important;
      max-width: 100% !important;
    }

    .responsive-row h2 {
      font-size: 1.5rem;
    }

    .responsive-row p {
      padding: 0 1rem;
      font-size: 1rem;
    }
}