/*body{
    background-color:#7EAAC7 ;
}*/
/* h2{
    font-size: 10px !important;
} */

/* HEADER */

#logo {

    font-family: 'Courier New', Courier, monospace;
}

/* HERO */
#img_container {
    width: 590px;
    height: 550px;
    overflow: hidden;
}

#photo {
    clip-path: inset(0px 0px 0px 100px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#name {
    position: absolute;
    top: 400px;
    left: 270px;
    z-index: 1;
}

.space {
    height: 50px;
}

.gallery_section{
    margin-bottom: 6rem;
}





/* FOOTER */
#linkedin-color {
    color: #0077B5;
}

#instagram-color {
    color: #E1306C;

}

#github-color {
    color: #000000;

}


@media(min-width:320px) and (max-width:932px) {
    .center-on-mobile {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /* Opcional, por si quieres centrar también el texto */
    }

    /* HEADER */
    .responsive-gap {
        gap: 2rem;
        justify-content: space-between;
    }

    #name {
        position: absolute;
        top: 300px;
        left: 50px;
        z-index: 1;
    }

    /* HERO */

    .custom-px {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #name {
        position: absolute;
        /*  top: 400px; */
        left: 40px;
        /* z-index: 1; */


    }

    #img_container {
        width: 320px;
        height: 350px;
        margin-bottom: 0;

    }

    #photo {
        clip-path: inset(0px 0px 0px 90px);
        width: 100%;
        height: 75%;
        object-fit: cover;
    }

    /* BADGES */
   

    .badge_custom {
        /* Tamaño adaptativo usando clamp() y calc() */
        width: clamp(100px, calc(100px + (45 * ((100vw - 320px) / (932 - 320)))), 145px);
        height: clamp(100px, calc(100px + (45 * ((100vw - 320px) / (932 - 320)))), 145px);

        /* PADDING REDUCIDO - Menor espacio interno */
        padding: clamp(0.4rem, calc(0.4rem + (0.4 * ((100vw - 320px) / (932 - 320)))), 0.8rem);

        /* MARGIN REDUCIDO - Menor espacio externo */
        margin: clamp(0.1rem, calc(0.1rem + (0.1 * ((100vw - 320px) / (932 - 320)))), 0.2rem);
    }

    .badge_custom img {
        /* Imágenes adaptativas 40px -> 75px */
        width: clamp(40px, calc(40px + (35 * ((100vw - 320px) / (932 - 320)))), 75px) !important;
        height: clamp(40px, calc(40px + (35 * ((100vw - 320px) / (932 - 320)))), 75px) !important;
    }

    .badge_custom p {
        font-size: clamp(0.6rem, calc(0.6rem + (0.2 * ((100vw - 320px) / (932 - 320)))), 0.8rem) !important;
        margin-top: clamp(0.15rem, calc(0.15rem + (0.2 * ((100vw - 320px) / (932 - 320)))), 0.35rem) !important;
        padding: 0 !important;
    }

   
}