/*body{
    background-color:#7EAAC7 ;
}*/
/* h2{
    font-size: 10px !important;
} */

p {
    font-size: 16px !important;
}

/* HEADER */

#logo {

    font-family: 'Courier New', Courier, monospace;
}

/* HERO */
#img_container {
    width: 590px;
    height: 550px;
    overflow: hidden;
}

#photo {
    clip-path: inset(0px 0px 0px 100px); 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#name {
    position: absolute;
    top: 500px;
    left: 250px;
    z-index: 1;
}

.space {
    height: 50px;
}

.gallery_section {
    margin-bottom: 6rem;
}

.resume-item article {
    position: relative;
    /* necesario para que ::before se posicione correctamente */
}

/* RESUME SECTION-EDUCATION */
.resume {
    font-family: "Poppins", sans-serif;
    color: #333;
}

.resume-title {
    font-size: 24px;
    font-weight: 600;
    color: #1387c1;
    /* color azul principal */
    margin-bottom: 80px;
   
}
#pro_skills{
   margin-left: 80px; 
}
 
.resume-item {
    margin-bottom: 60px;
    position: relative;
}

.resume-item article::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: -1.8rem;
    top: 0.25rem;
    background: #fff;
    border: 2px solid #1387c1;

    /*  margin-left: 10px;  */

}

.resume-content h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.resume-content h5 {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.institution,
.company {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.resume-content p {
    font-size: 14px;
    line-height: 1.6;
}

.skill-item {
    margin-bottom: 15px;
}

 #css_icon{
    /*   object-fit: cover; */
      clip-path: inset(0px 0px 0px 0px); 
  /*    overflow: hidden;  */
     

} 

#w3c_icon {
   /*  object-fit: cover;  */
     clip-path: inset(10px 0px 15px 0px); 
/*   overflow: hidden;  */
} 

#ads_icon {
  /*   object-fit: cover;  */
     clip-path: inset(0px 0px 15px 0px); 
 /*  overflow: hidden;  */ 
     

} 
.icon_margin{
   margin-top: 6px;  
}
.margin_costum_p{
    margin-top: -10px;
}

#visual_icon{
margin-top: 10px; 
}

#visual_icon_p{
     margin-top: 10px; 
}

#figma_icon_p{
    margin-top: 5px;
}
#ps_icon{
    margin-top: -5px; 
    margin-bottom: -5px;
}
#id_icon{
  
    margin-bottom: 5px;
}
.progress {
    background: #e0e0e0;
    border-radius: 50px;
    height: 8px;
}

.progress-bar {
    background: #1387c1;
    height: 8px;
    border-radius: 50px;
}


/* FOOTER */
#linkedin-color {
    color: #0077B5;
}

#instagram-color {
    color: #E1306C;

}

#github-color {
    color: #000000;

}


@media(min-width:320px) and (max-width:932px) {
    .center-on-mobile {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /* Opcional, por si quieres centrar también el texto */
    }

    /* HEADER */
    .responsive-gap {
        gap: 2rem;
        justify-content: space-between;
    }

    #name {
        position: absolute;
        top: 300px;
        left: 50px;
        z-index: 1;
    }

    /* HERO */

    .custom-px {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #name {
        position: absolute;
        /*  top: 400px; */
        left: 40px;
        /* z-index: 1; */


    }

    #img_container {
        width: 320px;
        height: 350px;
        margin-bottom: 0;

    }

    #photo {
        clip-path: inset(0px 0px 0px 90px);
        width: 100%;
        height: 75%;
        object-fit: cover;
    }

    /* BADGES */


    .badge_custom, .icon-container {
        /* Tamaño adaptativo usando clamp() y calc() */
        width: clamp(100px, calc(100px + (45 * ((100vw - 320px) / (932 - 320)))), 145px);
        height: clamp(100px, calc(100px + (45 * ((100vw - 320px) / (932 - 320)))), 145px);

        /* PADDING REDUCIDO - Menor espacio interno */
        padding: clamp(0.4rem, calc(0.4rem + (0.4 * ((100vw - 320px) / (932 - 320)))), 0.8rem);

        /* MARGIN REDUCIDO - Menor espacio externo */
        margin: clamp(0.1rem, calc(0.1rem + (0.1 * ((100vw - 320px) / (932 - 320)))), 0.2rem);
    }

    .badge_custom img , icon-container img {
        /* Imágenes adaptativas 40px -> 75px */
        width: clamp(40px, calc(40px + (35 * ((100vw - 320px) / (932 - 320)))), 75px) !important;
        height: clamp(40px, calc(40px + (35 * ((100vw - 320px) / (932 - 320)))), 75px) !important;
    }

    .badge_custom p {
        font-size: clamp(0.6rem, calc(0.6rem + (0.2 * ((100vw - 320px) / (932 - 320)))), 0.8rem) !important;
        margin-top: clamp(0.15rem, calc(0.15rem + (0.2 * ((100vw - 320px) / (932 - 320)))), 0.35rem) !important;
        padding: 0 !important;
    }


    /* sdfvñdlmgvdrjnhb */

   .resume-item article::before {
        left: -0.6rem !important;        /* Valor intermedio que funciona bien */
        width: 11px !important;          /* Tamaño intermedio */
        height: 11px !important;
        top: 0.4rem !important;
    }
    
    .resume-item article {
        padding-left: 1.1rem !important;
        margin-left: 0.4rem !important;
    }

    .costum_padding {
        padding-left: 32px;
        padding-right: 32px;
    }

    ul {
        padding-left: 0.8rem;        /* Menos padding para pantallas pequeñas */
        margin-left: -0.4rem;
        padding-right:0.8rem;      /* Mueve markers más a la izquierda */
    }

    li {
        margin-left: 0.2rem;         /* Ajusta el texto */
        padding-left: 0.3rem;        /* Espacio entre marker y texto */
    }
}